.orbital{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
.agni-ai{
  font-size: 128px;
  background: linear-gradient(to right, #217bfe, #e55571);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #140e2d;
    border-radius: 50px;
    width: 80%;
    height: 50%;
    position: relative;

    .bgContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50px;

      .bg {
        background-image: url("/bg.png");
        opacity: 0.2;
        width: 200%;
        height: 100%;
        background-size: auto 100%;
        animation: 8s ease-in-out infinite alternate slideBg;
      }
    }

    .bot {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: 3s ease-in-out infinite alternate botAnimate;
    }
    .chat {
      position: absolute;
      bottom: -30px;
      right: -50px;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      background: linear-gradient(to right, #217bfe, #e55571);
      border-radius: 10px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      @media screen and (max-width: 1280px) {
        right: 0;
      }

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
}
@keyframes botAnimate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(-5deg);
  }
}

@keyframes slideBg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}