* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0c16;
  color: #ececec;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}
