.chatPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .wrapper{
        flex: 1;
        overflow: scroll;
        width: 125%;
        display: flex;
        justify-content: center;

        .chat{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .message{
                padding: 20px;

                &.user{
                    background-color: #2c2937;
                    border-radius: 20px;
                    max-width: 80%;
                    align-self: flex-end;
                }
            }
        }
    }


}