.chatList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  opacity: 0.1;
  border-radius: 5px;
  margin: 20px 0;
}

.title {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

a {
  padding: 10px;
  border-radius: 10px;
}

a:hover {
  background-color: #2c2937;
}

.upgrade {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

img {
  width: 24px;
  height: 24px;
}

.texts {
  display: flex;
  flex-direction: column;
}

span:first-child {
  font-size: 600;
}

span:last-child {
  color: #888;
}
