.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .wrapper {
    flex: 1; /* Take up all available space */
    overflow: scroll; /* Add scroll bar */
    width: 100%;
    display: flex;
    justify-content: center;

    .chat {
      width: 50%;
      display: flex;
      flex-direction: column;

      .message {
        padding: 20px;

        &.user {
          background-color: #2c2937;
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-end;
        }
      }
    }
  }
}
