@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global stylesheet (e.g., index.css) */

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(60deg);
    }
  }
  
  .animate-rotate {
    animation: rotate 100s linear infinite;
  }


  @keyframes botAnimation {
    0% {
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(-5deg) scale(1.1);
    }
  }
  
  .botImage {
    animation: botAnimation 3s ease-in-out infinite alternate;
  }

  .custom-size {
    width: 520px;  /* Custom width */
    height: 520px; /* Custom height */
  }
  