.homepage {
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  gap: 100px; /* Add space between children */
  height: 100%; /* Full viewport height */

  .left {
    flex: 1; /* Left half of page */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    gap: 16px; /* Add space between children */
    text-align: center; /* Center text */

    h1 {
      font-size: 128px; /* Set font size */
      background: linear-gradient(
        to right,
        #217bfe,
        #e55571
      ); /* Set gradient background */
      background-clip: text; /* Clip background to text */
      -webkit-background-clip: text; /* Clip background to text for Safari, Chrome */
      color: transparent; /* Make text transparent */
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
      font-weight: 400; /* Set font weight to thinner */
      max-width: 70%; /* Set maximum width so there is no overflow */
    }
    a {
      padding: 15px 25px; /* Add padding */
      border-radius: 20px; /* Round the corners */
      background-color: #217bfe; /* Set background color */
      color: white; /* Set text color */
      font-size: 14px; /* Set font size */
      margin-top: 20px; /* Add margin */

      &:hover {
        background-color: white; /* Change background color on hover */
        color: #217bfe; /* Change text color on hover */
      }
    }
  }
  .right {
    flex: 1; /* Right half of page */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;

    .imgContainer {
      display: flex; /* Use flexbox */
      align-items: center; /* Center vertically */
      justify-content: center; /* Center horizontally */
      background-color: #140e2d; /* Set background color */
      border-radius: 50px; /* Make the container corners rounded */
      width: 80%;
      height: 50%;
      position: relative; /* Position relatively */

      .bgContainer {
        width: 100%;
        height: 100%;
        overflow: hidden; /* Hide overflow */
        position: absolute; /* Position absolutely, if youre using popsition absolute your parent should be relative */
        border-radius: 50px; /* Make the container corners rounded */

        .bg {
          background-image: url("/bg.png"); /* Background image will now show until you give it width and height */
          height: 100%;
          width: 200%; /* This needs to be 200% because of sliding effect */
          opacity: 0.3; /* Set opacity */
          background-size: auto 150%; /* Set background size */
          animation: 8s ease-in-out infinite alternate slideBg; /* Animate the background */
        }
      }

      .bot {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Fit the image inside the container */
        animation: 3s ease-in-out infinite alternate botAnimation; /* Animate the image */
      }

      .chat {
        position: absolute; /* Position absolutely */
        bottom: -30px; /* Align to bottom */
        right: -50px; /* Align to right */
        display: flex;
        align-items: center; /* Center vertically */
        gap: 10px; /* Add space between children */
        padding: 20px; /* Add padding */
        background-color: #2c2937; /* Set background color */
        border-radius: 10px; /* Make the container corners rounded */

        img {
          width: 32px; /* Set width */
          height: 32px; /* Set height */
          border-radius: 50%; /* Make the container corners rounded */
          object-fit: cover; /* Fit the image inside the container */
        }
      }
    }
  }

  .orbital {
    position: absolute; /* Position absolutely */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to left */
    opacity: 0.07; /* Set opacity */
    animation: rotateOrbital 100s linear infinite alternate-reverse; /* Animate rotation */
    z-index: -1; /* Set z-index to -1, to ensure the image is behind the Get Started Button */
  }
}

@keyframes rotateOrbital {
  /* Define keyframes,  */
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes botAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.05) rotate(3deg);
  }
}

@keyframes slideBg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}
