.homepage {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100%;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;

    h1 {
      font-size: 128px;
      background: linear-gradient(to right, #217BFE, #E55571);
      background-clip: text;                           /* THIS */
      -webkit-background-clip: text;                   /* THIS */
      color: transparent;
    }

    h3 {
      font-weight: 400;
      max-width: 70%;
    }

    a {
      padding: 15px 25px;
      background-color: #217BFE;
      color: white;
      border-radius: 20px;
      font-size: 14px;
      margin-top: 20px;

      &:hover {
        background-color: white;
        color: #217BFE;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .imgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #140E2D;
      border-radius: 50px;
      width: 80%;
      height: 50%;
      overflow: hidden;
      position: relative;                   /* PARENT */

      .bgContainer {
        position: absolute;                  /* CHILD */    
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;

        .bg {
          background-image: url('/bg.png');
          opacity: 0.2;
          width: 200%;
          height: 100%;
          background-size: auto 100%;
          animation: 8s ease-in-out infinite alternate slideBg;
        }
      }

      .bot {
        width: 100%;
        height: 100%;
        object-fit: contain;
        animation: 3s ease-in-out infinite alternate botAnimate;
      }
    }
  }

  .orbital {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    animation: 100s linear infinite rotateOrbital;
  }
}

@keyframes rotateOrbital {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes botAnimate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1.1) rotate(-5deg);
  }
}

@keyframes slideBg {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}